.title{
padding:15px 20% 15px 20%;
font-size:300%;
margin-bottom:15px;
margin-top:15px;
margin-right:25%;
margin-left:25%;
color:#B22222;
border-bottom: solid #b22222 3px
display:inline-block;
}

.home,
.discount,
.about-us,
.problem{
margin:10px;
font-size:15p;
color:#4682b4;
}
.bad{
max-width:300px;
max-height:auto;
margin-top:50px;
margin-right:20px;
margin-left:10px;
padding-right:20px;
padding-right:20px;
float:left;
margin-bottom:0px;
}
.walter{
font-size:20px;
margin-left:20px; 
margin-top:30px

}
.cos-bad{
font-size:20px;
margin-right:0px;
margin-left:0px;
color:#800000;
margin-top:300px;
margin-bottom="0px"
float:left;
}
.submit{
margin-right:0px;
margin-left:0px;
padding-left:5px;
padding-right:5px;
}
/* the class is wrong */
.breakin-bad-pragraph{
margin-bottom:250px;
padding-bottom:0px;

}


body{
font-family: "Cairo",sans-serif;
font-weight:600px;
clear:both;
}
.line-I{
margin-top:300px
}
.kaisen{
width:300px;
height:auto;
float:left;
margin-right:20px;
margin-left:10px;
margin-bottom:0px;
}
.kaisen-cost{
margin-top:200px;
color:#800000
}
.kaisen-del{
margin-right:5px;
}
.kaisen-discount{
color:red;
margin-left:7px
}
.kaisen-discount-II{
margin-right:3px
}

.kaisen-p{
padding:0px;
}
.line-II{
margin-top:100px;
}
.call-saul-photo{
width:300px;
height:auto;
float:left;
margin-left:10px;
margin-right:20px;
}
.call-saul-cost-II{
color:#800000;
margin-top:600px;
}
.call-saul-pragraph{
font-weight:600px;
margin-bottom:250px;
}